* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.h1 {
    font-size: 34px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
}


.rr1 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr2 {
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}

.rr3 {
    background-color: #FFE0B2;
    border: 2px solid black;
    width: 70px;
    height: 70px;
}

.rr4 {
    border: 2px solid black;
    background-color: #FECC80;
    width: 70px;
    height: 70px;
}

.rr5 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr6 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr7 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr8 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr9 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #A5D6A9;
    width: 70px;
    height: 70px;
}

.rr10 {
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}

.rr11 {
    border: 2px solid black;
    background-color: #FFE0B2;
    width: 70px;
    height: 70px;
}

.rr12 {
    border: 2px solid black;
    background-color:#FECC80;
    width: 70px;
    height: 70px;
}

.rr13 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr14 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr15 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr16 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr17 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #A5D6A9;
    width: 70px;
    height: 70px;
}

.rr18 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}

.rr19 {
    border: 2px solid black;
    background-color: #FFE0B2;
    width: 70px;
    height: 70px;
}

.rr20 {
    border: 2px solid black;
    background-color: #FECC80;
    width: 70px;
    height: 70px;
}

.rr21 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr22 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr23 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr24 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr25 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr26 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr27 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr28 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr29 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;;
}

.rr30 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr31 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr32 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr33 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr34 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr35 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #A5D6A9;
    width: 70px;
    height: 70px;
}

.rr36 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}


.rr37 {
    border: 2px solid black;
    background-color: #FFE0B2;
    width: 70px;
    height: 70px;
}

.rr38 {
    border: 2px solid black;
    background-color: #FECC80;
    width: 70px;
    height: 70px;
}

.rr39 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr40 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr41 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr42 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr43 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr44 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr45 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr46 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr47 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr48 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr49 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr50 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr51 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr52 {
    border: 2px solid black;
    background-color: #FEAB90;
    width: 70px;
    height: 70px;
}

.rr53 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #A5D6A9;
    width: 70px;
    height: 70px;
}

.rr54 {
    border: 2px solid black;
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}

.rr55 {
    border: 2px solid black;
    background-color: #FFE0B2;
    width: 70px;
    height: 70px;
}

.rr56 {
    border: 2px solid black;
    background-color: #FECC80;
    width: 70px;
    height: 70px;
}

.rr57 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr58 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr59 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr60 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr61 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr62 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr63 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr64 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr65 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr66 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr66 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr67 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr68 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr69 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr70 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr71 {
    border: 2px solid black;
    background-color: #E9F19C;
    width: 70px;
    height: 70px;
}

.rr72 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr73 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr74 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr75 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr76 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr77 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr78 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr79 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr80 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr81 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr82 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr83 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr84 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr85 {
    border: 2px solid black;
    background-color: #A5D6A9;
    width: 70px;
    height: 70px;
}

#rr86 {
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}

.rr87 {
    border: 2px solid black;
    background-color: #FFE0B2;
    width: 70px;
    height: 70px;
}

.rr88 {
    border: 2px solid black;
    background-color: #FECC80;
    width: 70px;
    height: 70px;
}

.rr89 {
    border: 2px solid black;
    background-color: #B2E6FC;
    text-align: center;
    width: 70px;
    height: 70px;
}

.rr90 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr91 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr92 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr93 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr94 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr95 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr96 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr97 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr98 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr99 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr100 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr101 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr102 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr103 {
    border: 2px solid black;
    background-color: #B2E6FC;
    width: 70px;
    height: 70px;
}

.rr104 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr105 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr106 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr107 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr108 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr109 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr110 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr111 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr112 {
    border: 2px solid black;
    background-color: #D4C3E5;
    width: 70px;
    height: 70px;
}

.rr113 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr114 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr115 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr116 {
    border: 2px solid black;
    background-color: #FDCFD2;
    width: 70px;
    height: 70px;
}

.rr117 {
    border: 2px solid black;
    background-color: #A5D6A9;
    width: 70px;
    height: 70px;
}

.rr118 {
    border: 2px solid black;
    background-color: #FFFFFD;
    width: 70px;
    height: 70px;
}

.footer {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 30px;
    padding-top: 30px;
}


.table1 {
    margin-left: 30px;
}

.table2 {
    margin-left: 30px;
}

.h2 {
    margin-left: 35px;
}

.th1 {
    margin-left: 70px;
}
